{% extends "layout.html" %}

{% block content %}


<div class="all container-fluid row gx-5">

    
    <section class="feito col p-3 m-3 border bg-light">
        <h1>Coisas implementadas:</h1>

        <div class="admin">
            <h3>- Admin </h3>
            <ul>Ver toda a informação na base de dados, como também editar e aulagar</ul>
        </div>
        <div class="user">
            <h3>- User </h3>
            <ul>Registar user na base de dados, e como utilizador de website</ul>
            <ul>Ver reviews do hotel</ul>
            <ul>Deixar reviews</ul>
        </div>

        <div class="models">
            <h3>- Models </h3>
            <ul>Em principio não é necessário mudar mais os models</ul>
        </div>
        
        
    </section>

    <section class="falta col p-3 m-3 border bg-light">
        <h1>Por implementar:</h1>

        <div class="website">
            <h3>- Website </h3>
            <ul>Criar um bom template</ul>
            <ul>Melhorar aspeto das páginas</ul>
            <ul>Não temos error handling</ul>
        </div>

        <div class="admin">
            <h3>- Admin</h3>
            <ul>Fazer página para atualizar quartos</ul>
        </div>
        
        <div class="user">
            <h3>- User </h3>
            <h5>NÃO Logado:</h5>
            <ul>* ver quartos vagos para certos dias</ul>
            <ul>* comparar preços entre datas</ul>
            <ul>* ver reviews de quartos</ul>
            <h5>Logado:</h5>
            <ul>* efetuar reservas de um quarto para uma data</ul>
            <ul>* alterar/cancelar reservas</ul>
            <ul>* adicionar bonus (p.e. pequenos almoços)</ul>
        </div>
        
    </section>

</div>
    



{% endblock %}