{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <section id="insbookForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Adding author to database</h4>
                <hr />
                <div class="form-group">
                    {{ form.name.label_tag }}
                    <div class="col-md-10">
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.email.label_tag }}
                    <div class="col-md-10">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

{% if insert %}
    <p style="text-align:center">User inserted successfully</p>
{% endif %}
{% endblock %}