{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <section id="insbookForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Adding book to database</h4>
                <hr />
                <div class="form-group">
                    {{ form.title.label_tag }}
                    <div class="col-md-10">
                        {{ form.title }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.date.label_tag }}
                    <div class="col-md-10">
                        {{ form.date }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.authors.label_tag }}
                    <div class="col-md-10">
                        {{ form.authors }}
                    </div>
                    (hold CTRL to choose multiple)
                </div>
                <div class="form-group">
                    {{ form.publisher.label_tag }}
                    <div class="col-md-10">
                        {{ form.publisher }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

{% if insert %}
    <p style="text-align:center">Book inserted successfully</p>
{% endif %}
{% endblock %}